reverse of a number

In [5]:
n = int(input("enter your number :"))
rev =0
while n>0:
    r= n%10
    rev = rev*10+r
    n=n//10
print(rev)

432

pallindrome

In [6]:
n=int(input("enter your number:"))
d=n
rev=0
while n>0:
    r= n%10
    rev = rev*10+r
    n=n//10
if rev==d:
    print("the number is a pallindrome")
else:
    print("the input is not a pallindrome")

the number is a pallindrome

while loop
executes as long as the given condition is true
acts like seperating if statements

print multiplication table of any number

In [7]:
a=int(input("enter the table to be shown"))
print("the table is given below:")
for i in range(1,11):
    print(i,"x",a,"=",i*a)

the table is given below:
1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30

nested for loop 

n number of for loops inside a single for loop

print asterisk pattern like a right angle triangle

In [12]:
n= int(input("enter your number of rows"))
for i in range(1,n+1):
    for j in range (1,i+1):
        print("*",end="")
    print()

*
**
***
****
*****

print inverted triangle of 1234

In [28]:
n=int(input("enter your number :"))
for i in range (n,0,-1):
    for j in range (n-1,1):
        print(" ",end=" ")
    for j in range (0,i):
            print(j,end="")
    print()

012
01
0

print a normal triangle of 1234

In [ ]:
n=int(input("enter the number of rows"))
for i in range (1,n):
    for j in range(0,n-i):
        print(end="")
    for j in range (0,i):
        print(j,end="")
    print()

0
01
012
0123

unconditional control structure

break 
continue 
pass

example of break

print from 1 to 10 but till 5

In [36]:
for i in range (1,11):
    print(i)
    if i %5==0:
        break

1
2
3
4
5

print odd numbers

In [38]:
for i in range(1,11):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [ ]:
example of pass statement

In [39]:
for i in range(1,11):
    if i%2==0:
        pass
    print(i)

1
2
3
4
5
6
7
8
9
10

write a program to check whether a number is prime or not

In [42]:
a=int(input("enter your number to be checked :"))
count=0
for i in range(2,a):
    if a%i==0:
        count =1
        break
if count==1:
    print("the number is not a prime number")
else:
    print("the number is a prime number")

the number is a prime number

find a letter if its a vowel or a consonant

In [ ]:
vowels="AEIOUaeiou"
while True :
    V = input("enter a letter :")
if V in vowels:
    print(V,"is a vowel")
    break
print(V,"is not  a vowel, try another letter")
print("end of program")